.header{
  background-color: white;
  position: fixed;
  height: 108px;
  width: 100%;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
  display: flex;
  .logo {
    padding-top: 35px;
    padding-bottom: 35px;
    margin-left: 61px;
  }
  .logo-user{
    position: absolute;
    right: 15px;
    width: 130px;
    border-left: 1.5px solid #c4c4c4;
    margin-top: 20px;
    img{
      margin-left: 20px;
    }
    img:last-child{
      position: relative;
      top: -30px
    }
  }
}

